.all_div {
    border: 2px solid black;
    width: 100%;
}
.header_div {
    color: white;
    text-align: center;
    background-color: red;
    width: 100%;
    height: 10%;
    font-size: 300%;
}
.body_div {
    color: white;
    height: 80%;
    text-align: center;
    font-size: 300%;
    line-height: 1200%;
}
.body_left_div {
    background-color: yellow;
    float: left;
    width: 30%;
    height: 100%;
}
.body_right_div {
    background-color: green;
    float: right;
    width: 70%;
    height: 100%;
}
.footer_div {
    color: white;
    text-align: center;
    background-color: red;
    width: 100%;
    height: 10%;
    font-size: 300%;
}